@{
    Layout = "_CartLayout";
}
<HTML>
<HEAD>
    <TITLE>Payment Successful</TITLE>
</HEAD>
<body>
    <h1> Payment  successful!  </h1>

    <a href="@Url.Action("CheckoutCart", "Home")" class="btn btn-primary">
        My Purchase
    </a>
</body>
</HTML>

